---
import Header from '../layouts/Header.astro';
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.jsx';
import Projects from '../layouts/Projects.astro';
import Skills from '../layouts/Skills.astro';
import Footer from '../layouts/Footer.astro';
import About from '../layouts/About.astro';

/*




*/


---

<Layout title="Welcome to Astro.">
	<Nav client:load></Nav>
	<Header></Header>
	<About></About>
	<Skills></Skills>
	<Projects></Projects>
	<Footer></Footer>
</Layout>

