---

---

<ul class="flex">
  <li><a href="https://github.com/GersonGarayar20" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i></a></li>
  <li><a href="https://www.linkedin.com/in/gerson-garayar-caraballo" target="_blank" rel="noopener"><i class="fa-brands fa-linkedin"></i></a></li>
</ul>


<style>
  a{
    @apply
    p-2 text-slate-500 text-3xl
    hover:text-slate-100
    active:text-sky-500 
    transition-all
  }
</style>