---

---

<div class="flex gap-4">
  <a href="mailto:garayargerson30@gmail.com" title="Gmail" target="_blank" rel="noopener"><i class="fa-solid fa-envelope"></i></a>
  <a href="https://github.com/GersonGarayar20" title="GitHub" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i></a>
  <a href="https://www.linkedin.com/in/gerson-garayar" title="Linkedin" target="_blank" rel="noopener"><i class="fa-brands fa-linkedin"></i></a>
</div>


<style>
  a{
    @apply
    text-neutral-500 text-3xl
    hover:text-neutral-100
    transition-all
  }
</style>