---
const { image, name } = Astro.props
---

<div class="p-4 flex items-center gap-4">
  <img class="w-12 h-12 hover:scale-110 transition-all" src={image} alt={name}>
  <p class="text-neutral-300">{name}</p>
</div>