
<section id="about" 
class=" md:px-12 md:py-16 px-4 py-8 // flex flex-col md:flex-row md:items-start items-center gap-8 ">

  <div class="w-48 h-48">
    <img class="object-cover object-top rounded-full w-full h-full" src="https://github.com/GersonGarayar20.png" alt="gerson">
  </div>
  
  <div class="grid gap-8 md:w-3/4">
    <h2 class="text-4xl md:text-left text-center text-neutral-200">About me</h2>

    <div class="grid gap-4">
      <p class="text-neutral-400 md:text-left">
        Soy Desarrollador Frontend. He realizado varios proyectos en React, utilizando librerias como Redux, React Query y React Router.
      </p>
      <p class="text-neutral-400 md:text-left">
        Me encanta el diseño y el desarrollo web, cada dia mejoro mis habilidades y conocimientos.
      </p>
  
      <p class="text-neutral-400 md:text-left">
        He trabajado en varios proyectos en equipo, algunos son:
      </p>
  
      <a class="text-neutral-300 underline md:text-left" href="https://video-platform-app-2t7v-lun4lw2h4-devsalas.vercel.app/" rel="noopener noreferrer">PLAY VIDEOS</a>
    </div>
  </div>

</section>