---
const acerca = "Hola soy Gerson Garayar, me considero una persona creativa, con una exelente capacidad de resolucion de problemas."

---


<section id="about" 
class="md:px-12 md:py-16 px-8 py-8 // flex flex-col gap-8">
  
  <h2 class="text-4xl md:text-left text-center text-slate-800">About</h2>
  <p class="text-lg md:text-left text-center">{acerca}</p>

</section>