---
const acerca = "Hola soy Gerson Garayar, me considero una persona creativa, con una exelente capacidad de resolucion de problemas."

---


<section id="about" 
class="look md:py-16 py-8 gap-8 flex flex-col items-center bg-neutral-100">
  
  <h2 class="text-4xl text-rose-500 text-center uppercase font-semibold">about</h2>
  <img class="object-cover object-top w-32 h-32 rounded-full border" src="gerson.jpg" alt="">
  
  <div class="p-4 md:max-w-md">
    <p class="text-lg text-center">{acerca}</p>
  </div>
</section>