---
import Redes from "../components/Redes.astro";

---

<footer class="w-full p-8 bg-neutral-900">
  <div class="max-w-7xl m-auto md:px-12 flex justify-center md:justify-between gap-8">
    <Redes></Redes>
    <a class="flex items-center" href="https://astro.build/" target="_blank" rel="noopener">
      <img class="w-20 hover:scale-105" src="astro-logo.svg" alt="">
    </a>
  </div>
</footer>


