---
import Redes from "../components/Redes.astro";

---

<footer class="w-full p-8 bg-slate-900">
  <div class="flex justify-around md:justify-between">
    <Redes></Redes>
    <img class="w-20" src="astro-logo.svg" alt="">
  </div>
</footer>


