---
import Redes from "../components/Redes.astro";

---

<footer class="md:px-12 md:py-16 px-4 py-8">
  <div class="flex md:flex-row flex-col items-center gap-4 md:justify-between">
    <Redes></Redes>
    <a class="flex items-center" href="https://astro.build/" target="_blank" rel="noopener">
      <img class="w-20 hover:scale-110 transition-all" src="svg/astro-logo.svg" alt="astro">
    </a>
  </div>
</footer>


