---
import Redes from "../components/Redes.astro";

---

<footer class="w-full p-8 bg-slate-900 relative">
  <div class="flex justify-center">
    <Redes></Redes>
  </div>
  <img class="w-20 absolute bottom-8 right-16" src="astro-logo.svg" alt="">
</footer>


