---
import ProjectsList from "../components/ProjectsList";
---


<section id="projects" class=" md:px-12 md:py-16 px-4 py-8 // flex flex-col gap-8 ">

  <h2 class="text-4xl md:text-left text-center text-neutral-200">Projects</h2>

  <ProjectsList client:load/>

</section>






