---
import ListProjects from "../components/ListProjects.vue";


---


<section id="projects" class="py-8 md:py-16 flex flex-col gap-8">

  <h2 class="text-4xl md:text-left font-semibold text-center text-neutral-300">Projects</h2>
  <ListProjects />

</section>






