---
import Skill from "../components/Skill.astro";

---

<section id="skills" 
class="look md:py-16 py-8 gap-8 flex flex-col items-center bg-neutral-50 relative overflow-hidden">

  <img class="absolute w-96 h-96 -bottom-20 -left-20 opacity-10" src="react.svg" alt="">
  
  <h2 class="text-4xl text-rose-500 text-center uppercase font-semibold">skills</h2>

  <div class="flex justify-center gap-4 flex-wrap md:w-4/5">
    <Skill image="html-5.svg" name="HTML"></Skill>
    <Skill image="css3.svg" name="CSS"></Skill>
    <Skill image="javascript.svg" name="JavaScript"></Skill>
    <Skill image="react.svg" name="React"></Skill>
    <Skill image="tailwind.svg" name="Tailwind CSS"></Skill>
    <Skill image="git.svg" name="Git"></Skill>
  </div>

</section>

