---
import Skill from "../components/Skill.astro";



//<img class="absolute w-96 h-96 -bottom-20 -left-20 opacity-10" src="react.svg" alt="">
---

<section id="skills" 
class="md:px-12 md:py-16 px-8 py-8 // flex flex-col gap-8">

  <h2 class="text-4xl md:text-left text-center text-slate-800">Skills</h2>

  <div class="flex gap-2 md:justify-start justify-center flex-wrap">
    <Skill image="html-5.svg" name="HTML"></Skill>
    <Skill image="css3.svg" name="CSS"></Skill>
    <Skill image="javascript.svg" name="JavaScript"></Skill>
    <Skill image="react.svg" name="React"></Skill>
    <Skill image="tailwind.svg" name="Tailwind CSS"></Skill>
    <Skill image="git.svg" name="Git"></Skill>
  </div>

</section>

