---
import Skill from "../components/Skill.astro";

---

<section id="skills" class=" md:px-12 md:py-16 px-4 py-8 // flex flex-col gap-8 ">

  <h2 class="text-4xl md:text-left text-center text-neutral-200 ">Skills</h2>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
    <Skill image="svg/html-5.svg" name="HTML"></Skill>
    <Skill image="svg/css3.svg" name="CSS"></Skill>
    <Skill image="svg/javascript.svg" name="JavaScript"></Skill>
    <Skill image="svg/react.svg" name="React"></Skill>
    <Skill image="svg/tailwind.svg" name="Tailwind CSS"></Skill>
    <Skill image="svg/typescript.svg" name="TypeScript"></Skill>
    <Skill image="svg/node-js.svg" name="Nodejs"></Skill>
    <Skill image="svg/git.svg" name="Git"></Skill>
    <Skill image="svg/bootstrap.svg" name="Bootstrap"></Skill>
  </div>

</section>

